body, html {
    height: 100%;
    background-color: #fafafa;
}

.bg-atas { 
    /* The image used */
    background-image: url("Image/bg-atas.png");

    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}