@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
    font-family: 'Oxygen', sans-serif;
    height: 100%;
    /* background-color: #fafafa;     */
}

body * {
    max-width: 100vw;
}

.container{
    overflow-x: hidden;
}


.bg-home {
    /* The image used */
    background-image: url("Image/animation.gif");
    background-color: #d6cbc2;
    

    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-section{
    background-color: #c2d6d2;
}


.logo svg{
    fill: #554e49!important;
}

.logo a{
    font-family: 'VT323', monospace;
    font-weight: 400;
    font-size: 25pt;
    color: #554e49!important;
}

.logo a:hover{
    color: black!important;
}

.logo svg:hover{
    fill: black!important;
}

.icon svg{
    fill: #555555!important;
}

.icon svg:hover{
    fill: #0275d8!important;
}

.nav-link{
    color: #554e49!important;
}

.nav-link:hover{
    color: black!important;
}

p.description{
    font-size: 14pt
}

p{
    font-size: 11pt;
}

.footer{
    color: #555555!important;
    font-size: 14pt;
    font-family: 'VT323', monospace;
    font-weight: 400;
}

h5.boldtext{
    font-weight: 700;
}

h3.boldtext{
    font-weight: 700;
}
h6.boldtext{
    font-weight: 700;
}

a.boldtext{
    font-family: 'VT323', monospace;
    font-weight: 400;
    font-size: 20pt;
}



.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:30px;
    right:20px;
    z-index: 99;
	background-color:#0275d8;
	color:#FFF;
	border-radius:50px;
    text-align:center;
    padding-top: 12px;
}

.float:hover{
    color:#73beff !important;
}
