@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body, html {
    font-family: 'Oxygen', sans-serif;
    height: 100%;
    /* background-color: #fafafa;     */
}


.bg-atas { 
    /* The image used */
    background-image: url("Image/animation.gif");
    background-color: #d6cbc2;

    /* Full height */
    height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.bagian-footer{
    background-color: #c2d6d2;
}


.logo svg{
    fill: #554e49!important;
}

.logo a{
    font-family: 'VT323', monospace;
    font-weight: 400;
    font-size: 25pt;
    color: #554e49!important;
}

.logo a:hover{
    color: black!important;
}

.logo svg:hover{
    fill: black!important;
}

.icon svg{
    fill: #555555!important;
}

.icon svg:hover{
    fill: #0275d8!important;
}

.nav-link{
    color: #554e49!important;
}

.nav-link:hover{
    color: black!important;
}

p.description{
    font-size: 14pt
}

p{
    font-size: 11pt;
}

.footer{
    color: #555555!important;
    font-size: 14pt;
    font-family: 'VT323', monospace;
    font-weight: 400;
}

h5.boldtext{
    font-weight: 700;
}

h3.boldtext{
    font-weight: 700;
}
h6.boldtext{
    font-weight: 700;
}

a.boldtext{
    font-family: 'VT323', monospace;
    font-weight: 400;
    font-size: 20pt;
}



.float{
	position:fixed;
	width:50px;
	height:50px;
	bottom:30px;
    right:20px;
    z-index: 99;
	background-color:#0275d8;
	color:#FFF;
	border-radius:50px;
    text-align:center;
    padding-top: 12px;
}


/* Icon code */
.gg-code-slash {
    display: block;
    --ggs:2;
    color:#0275d8;
    position: relative;
    box-sizing: border-box;
    transform: rotate(15deg) scale(var(--ggs,1));
    width: 2px;
    height: 16px;
    background: currentColor
}
.gg-code-slash::after,
.gg-code-slash::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 8px;
    height: 8px;
    transform: rotate(-60deg)
}
.gg-code-slash::before {
    border-left: 2px solid;
    border-top: 2px solid;
    left: -8px;
    top: 5px
}
.gg-code-slash::after {
    border-right: 2px solid;
    border-bottom: 2px solid;
    right: -8px;
    top: 3px
}

/* Icon image */
.gg-image {
    box-sizing: border-box;
    position: relative;
    display: block;
    color:#0275d8;
    transform: scale(var(--ggs,1));
    --ggs:2;
    width: 20px;
    height: 16px;
    overflow: hidden;
    box-shadow: 0 0 0 2px;
    border-radius: 2px
}
.gg-image::after,
.gg-image::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 2px solid
}
.gg-image::after {
    transform: rotate(45deg);
    border-radius: 3px;
    width: 16px;
    height: 16px;
    top: 9px;
    left: 6px
}
.gg-image::before {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    top: 2px;
    left: 2px
}

/* icon display */
.gg-display-grid {
    box-sizing: border-box;
    position: relative;
    display: block;
    --ggs:2;
    color:#0275d8;
    transform: scale(var(--ggs,1));
    height: 14px;
    width: 14px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px
}
.gg-display-grid::after,
.gg-display-grid::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 4px;
    border-right: 4px solid;
    border-left: 4px solid;
    top: 0;
    left: 0
}
.gg-display-grid::before {
    top: 6px
}